@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root{
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #080c16;
    color: #fafafa;
}